* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html, body {
    min-height: 100vh;
    width: 100%;
}

body {    
    color: white;
    background-color: #203354;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.background {
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('../img/math_meme.png');
    background-size: cover;
    background-position: center; 
    z-index: 1;
}

.header {
    z-index: 2;
}

.header h1 {
    color: #B3EBF2;
    text-align: center;
    margin-bottom: 0.4rem;
}

.header p {
    font-style: italic;
    text-align: center;
}

.calculator {
    background-color: #222222;
    min-height: 24rem;
    width: 20rem;
    min-width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 5px 10px 1px black;
    z-index: 2;
}

.display {
    padding: 0.2rem 0.5rem;
    background-color: #a2abab;
    width: 100%;
    border-radius: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.display-top {
    color: black;
    min-height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1rem;
    vertical-align: middle; 
}

.display-bottom {
    color: black;
    min-height: 3rem;
    line-height: 3rem;
    font-size: 2.5rem;
    font-weight: bold;
    vertical-align: middle; 
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    height: 3rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #636363;
    width: 100%;
    border-radius: 0.5rem;
    flex-grow: 1;
}

.clear, .delete {
    background-color: #993f3a;
}



