* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

html, body {
    min-height: 100vh;
    width: 100%;
}

body {
    color: black;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color: #222222;
    min-height: 24rem;
    min-width: 20rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.display {
    background-color: #a2abab;
    width: 100%;
    border-radius: 0.5rem;
    flex-grow: 1;
}

.buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.row {
    height: 3rem;
    width: 100%;
    display: flex;
    gap: 0.5rem;
}

button {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #636363;
    width: 100%;
    border-radius: 0.5rem;
    flex-grow: 1;
}



